on:
    workflow_dispatch:
        inputs:
            force:
                description: Whether forcing to publish a release
                required: true
                type: boolean
            release_version:
                description: Version to publish (vX.Y.Z)
                required: true
                type: string
    push:
        branches:
            - main

permissions:
    contents: write
    id-token: write
    pull-requests: write

name: release-please
jobs:
    release-please:
        runs-on: ubuntu-latest
        steps:
            - uses: googleapis/release-please-action@v4
              id: release_please
              with:
                  config-file: release-please-config.json
                  manifest-file: .release-please-manifest.json
        outputs:
            release_created: ${{ steps.release_please.outputs.release_created }}
            tag_name: ${{ steps.release_please.outputs.tag_name }}

    publish:
        runs-on: ubuntu-latest
        needs: release-please
        if: ${{ needs.release-please.outputs.release_created || github.event.inputs.force }}
        env:
            VERSION: ${{ needs.release-please.outputs.tag_name || inputs.release_version }}
        steps:
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0
            - uses: pnpm/action-setup@v4
            - name: Install dependencies
              run: pnpm install

            - name: Generate docs
              run: pnpm run doc

            - name: Deploy to GitHub Pages
              uses: peaceiris/actions-gh-pages@v4
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./docs

            - name: Publish package to npm
              run: pnpm publish

            - name: Publish package to jsr
              run: pnpx jsr publish

            - name: Upload files
              env:
                  GH_TOKEN: ${{ github.token }}
              run: |
                  set -e
                  echo "Creating tarball"
                  tar cvzf raw.tar.gz --directory=npm/ .
                  echo "Creating zip"
                  pushd npm
                  zip -r "$GITHUB_WORKSPACE/raw.zip" ./*
                  popd
                  echo "Uploading release assets"
                  gh release upload ${{ env.VERSION }} raw.zip raw.tar.gz --clobber
