name: Test

on:
    pull_request:
        branches: [main]
    push:
        branches: [main]

permissions:
    id-token: write

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
            - uses: pnpm/action-setup@v4
            - name: Install dependencies
              run: pnpm install

            - name: Check format and types
              run: pnpm run check
            - name: Generate coverage
              run: |
                  pnpm run coverage
            - uses: codecov/codecov-action@v5
              with:
                  use_oidc: true
                  files: ./coverage/coverage-final.json
                  name: mini-fn
                  verbose: true
                  fail_ci_if_error: true
                  report_type: test_results

            - name: Dry run publish
              run: pnpm publish --dry-run --no-git-checks
